.location {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(19, 66, 136);
    color: white;
    border-radius: 5px;

    &__delete{
      margin-left: 60%;
    }
  
    h3 {
      font-size: 32px;
      margin: 0;
    }
    
    p {
      font-size: 12px;
      font-weight: lighter;
    }

    a{
      color: wheat;
    }
  }